<% if false %>
<div class="message warning"><p>The file server will be offline this Thursday from 7:00 AM to 9:00 AM for upgrades.</p></div>
<% end %>

<div class="small left">
  <div class="block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>

  		<h2>Favorites</h2>
  	</div>		<!-- .block_head ends -->

  	<div class="block_content">

  	</div>		<!-- .block_content ends -->

  	<div class="bendl"></div>
  	<div class="bendr"></div>
  </div>		<!-- .block ends -->


  <div class="block withsidebar">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>

  		<h2>Applications</h2>
  	</div>		<!-- .block_head ends -->

  	<div class="block_content">
  	  <div class="sidebar">
  			<ul class="sidemenu">
  				<li><a href="#sb1">Favorites</a></li>
  				<% if @has_special_apps %>
  				  <li><a href="#sb2">Special Access</a></li>
  				<% end %>
  				<li><a href="#sb3">Departmental</a></li>
  				<li><a href="#sb4">Divisional</a></li>
  				<li><a href="#sb5">Universal</a></li>
  			</ul>

  			<p><strong>There may be more apps available!</strong> Be sure to check all of the above tabs. You may request permission to additional apps via the [Request] links.</p>
  		</div>		<!-- .sidebar ends -->

  		<div class="sidebar_content" id="sb1">
    		<h2>Available</h2>
    		<ul>
    		  <li><a href="https://my.dss.ucdavis.edu/roles">Manage Profile</a></li>
    		  <% current_user.apps.each do |app| %>
    			  <li><%= link_to app.display_name, app.url %></li>
    			<% end %>
    		</ul>

    		<h2>Unavailable</h2>
    		<ul>
    		  <% if current_user.known_attributes.include? "requestable_apps" %>
    			  <% current_user.requestable_apps.each do |app| %>
    				  <li><%= link_to app.display_name, app.url %> <small><a href="#">[Request]</a></small></li>
    			  <% end %>
    			<% else %>
    			  <li>None</li>
    			<% end %>
    		</ul>
    	</div> <!-- sidebar_content ends -->

  		<div class="sidebar_content" id="sb2">
    		<ul>
    		  <% current_user.apps.each do |app| %>
    		    <% if app.access == "direct" %>
    			    <li><%= link_to app.display_name, app.url %></li>
    			  <% end %>
    			<% end %>
    		</ul>
    	</div> <!-- sidebar_content ends -->

  		<div class="sidebar_content" id="sb3">
    		<h2>Available</h2>
    		<ul>
    		  <% current_user.apps.each do |app| %>
    		    <% if app.access == "ou" %>
    			    <li><%= link_to app.display_name, app.url %></li>
    			  <% end %>
    			<% end %>
    		</ul>

    		<h2>Unavailable</h2>
    		<ul>
    		  <% if current_user.known_attributes.include? "requestable_apps" %>
    			  <% current_user.requestable_apps.each do |app| %>
    		      <% if app.access == "ou" %>
    				    <li><%= link_to app.display_name, app.url %> <small><a href="#">[Request]</a></small></li>
    				  <% end %>
    			  <% end %>
    			<% else %>
    			  <li>None</li>
    			<% end %>
    		</ul>
    	</div> <!-- sidebar_content ends -->

  		<div class="sidebar_content" id="sb4">
    		<h2>Available</h2>
    		<ul>
    		  <% current_user.apps.each do |app| %>
    		    <% if app.access == "public" %>
    			    <li><%= link_to app.display_name, app.url %></li>
    			  <% end %>
    			<% end %>
    		</ul>

    		<h2>Unavailable</h2>
    		<ul>
    		  <% if current_user.known_attributes.include? "requestable_apps" %>
    			  <% current_user.requestable_apps.each do |app| %>
    		      <% if app.access == "public" %>
    				    <li><%= link_to app.display_name, app.url %> <small><a href="#">[Request]</a></small></li>
    				  <% end %>
    			  <% end %>
    			<% else %>
    			  <li>None</li>
    			<% end %>
    		</ul>
    	</div> <!-- sidebar_content ends -->

  		<div class="sidebar_content" id="sb5">
    		<ul>
    		  <li><a href="http://owa.ucdavis.edu/">Outlook Web Access (Mail, Calendars, Contacts)</a></li>
    		  <li><a href="http://directory.ucdavis.edu/index.html">Update Personal UC Davis Directory Listing</a></li>
    		  <li><a href="http://timesheets.ucdavis.edu/">UC Davis L&amp;S Timesheets</a></li>
    		  <li><a href="http://smartsite.ucdavis.edu/">SmartSite Access</a></li>
    		</ul>
    	</div> <!-- sidebar_content ends -->

  	</div>		<!-- .block_content ends -->

  	<div class="bendl"></div>
  	<div class="bendr"></div>
  </div>		<!-- .block ends -->  
</div> <!-- .small.left -->

<div class="small right">
  <div class="block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>

  		<h2>Help Documentation</h2>
  	</div>



  	<div class="block_content">
  		<p>
  		<center><b><a href="https://sysaid.dss.ucdavis.edu/index.html">Request Support / Talk to Support Personnel</a></b></center>
  		</p>

  		<h2>Frequently Asked Questions</h2>

  		<ul>
  			<li><a href="#">How can I order a new computer?</a></li>
  			<li><a href="#">How long do I have to wait for support?</a></li>
  			<li>Morbi facilisis felis ac sapien</li>
  		</ul>
  	</div>

  	<div class="bendl"></div>
  	<div class="bendr"></div>
  </div>


  <div class="block">
  	<div class="block_head">
  		<div class="bheadl"></div>
  		<div class="bheadr"></div>

  		<h2>Inbox</h2>
  	</div>		<!-- .block_head ends -->


  	<div class="block_content">

      <table cellpadding="0" cellspacing="0" width="100%" class="sortable">

  			<thead>
  				<tr>
  					<th width="10"><input type="checkbox" class="check_all" /></th>
  					<th>Subject</th>
  					<th>Received</th>
  					<th>From</th>
  					<td>&nbsp;</td>
  				</tr>
  			</thead>

  			<tbody>
  			  <% @messages.each do |message| %>
  				<tr>
  					<td><input type="checkbox" /></td>
  					<td><a href="javascript:show_message(<%= message.id %>)"><%= message.subject %></a></td>
  					<td><%= Date.parse(message.sent).strftime("%B %d, %Y") %></td>
  					<td><a href="#"><%= message.from %></a></td>
  					<td class="delete"><a href="#">Delete</a></td>
  				</tr>
  				<% end %>
  			</tbody>

  		</table>

  		<!--<p>
  		<center><i>You have no messages.</i><br /><br /><small>Messages (not e-mail) may appear here in the future if your attention is required.</small></center>
  		</p>-->

  	</div>		<!-- .block_content ends -->

  	<div class="bendl"></div>
  	<div class="bendr"></div>
  </div>		<!-- .block.small.right ends -->  
</div> <!-- .small.right -->


<!-- for modal dialogs -->
<div id="message_modal" class="reveal-modal"></div>
