<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>DSS Application Portal</title>
	
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<div id="hld">
		<div class="wrapper">
			<div id="header">
				<div class="hdrl"></div>
				<div class="hdrr"></div>
				
				<h1><%= image_tag "../images/ucd.png", :alt => "UC Davis (logo)", :style => "margin-bottom: -1px;" %>&nbsp;&nbsp;&nbsp;<a href="#">DSS IT</a></h1>
				
				<ul id="nav">
					<!--<li class="active"><%= link_to "Overview", :controller => "site", :action => "index" %></li>-->
				</ul>
				
				<p class="user">Hello, <%= current_user.first %> (<%= link_to "Logout", :controller => "site", :action => "logout" %>)</p>
			</div> <!-- #header -->
			
			<%= yield %>
			
			<div id="footer">
				<p class="left"><a href="http://it.dss.ucdavis.edu/">Division of Social Science IT</a></p>
			</div>
		</div> <!-- wrapper -->
	</div> <!-- #hld -->
</body>
</html>
